<div id="cartHeader" class ="commonHeader">
    <div class="title">
    	购物车
    </div>
</div>
<div id="cartContent">
	<ul id = "proList">
			<!--<li>
				<div class="proImg">
					<img src = "../images/1.jpg">
				</div>
				<div class="proInfo">
					<p class="proTitle">
						爱好女社工爱好女社工爱好女社工爱好女社工爱好女社工
					</p>
					<p class="proPrice">
						￥39
					</p>
					<p class="proNumber">
						<input type="button" name="" id="" value="-" />
						<span>1</span>
						<input type="button" name="" id="" value="+" />
					</p>
					<button>
						删除
					</button>					
				</div>
			</li>-->
			
		</ul>
</div>


