<div id="homeHeader" class="commonHeader">
	<div class="title">
		zouxiu  走秀网
	</div>
</div>
<div id="homeContent">
		<div class="searchBox">
			<div class="searchShop" id = "goSearch">
				<i class = "iconfont">&#xe619;</i>
				<!--<input type="text" name="btn" id="btn" placeholder="请输入搜索内容" />-->
				请输入搜索内容
			</div>
		</div>
		
			<div class="swiper-container" id="homeBanner">
			<div class="swiper-wrapper" id = "homeWrapper">			
					<!--<div class="swiper-slide">
						<img src = "../images/18.jpg">
					</div>
					<div class="swiper-slide">
						<img src = "../images/1.jpg">
					</div>
					<div class="swiper-slide">
						<img src ="../images/13.jpg">
					</div>-->
			</div>
			<div class="swiper-pagination"></div>
		</div>
		
		<ul id = "proList">
			<!--<li>
				<div class="proImg">
					<img src = "../images/1.jpg">
				</div>
				<div class="proInfo">
					<p class="proTitle">
						爱好女社工爱好女社工爱好女社工爱好女社工爱好女社工
					</p>
					<p class="proPrice">
						￥39
					</p>
					<p class="proDiscount">
						9折
					</p>
					<button>
						加入购物车
					</button>					
				</div>
			</li>
			<li>
				<div class="proImg">
					<img src = "../images/1.jpg">
				</div>
				<div class="proInfo">
					<p class="proTitle">爱好女社工爱好女社工爱好女社工爱好女社工爱好女社工</p>
					<p class="proPrice">￥39</p>
					<p class="proDiscount">9折</p>
					<button>加入购物车</button>
					
				</div>
			</li>
			<li>
				<div class="proImg">
					<img src = "../images/1.jpg">
				</div>
				<div class="proInfo">
					<p class="proTitle">爱好女社工爱好女社工爱好女社工爱好女社工爱好女社工</p>
					<p class="proPrice">￥39</p>
					<p class="proDiscount">9折</p>
					<button>加入购物车</button>
					
				</div>
			</li>
			<li>
				<div class="proImg">
					<img src = "../images/1.jpg">
				</div>
				<div class="proInfo">
					<p class="proTitle">爱好女社工爱好女社工爱好女社工爱好女社工爱好女社工</p>
					<p class="proPrice">￥39</p>
					<p class="proDiscount">9折</p>
					<button>加入购物车</button>
					
				</div>
			</li>
			<li>
				<div class="proImg">
					<img src = "../images/1.jpg">
				</div>
				<div class="proInfo">
					<p class="proTitle">爱好女社工爱好女社工爱好女社工爱好女社工爱好女社工</p>
					<p class="proPrice">￥39</p>
					<p class="proDiscount">9折</p>
					<button>加入购物车</button>
					
				</div>
			</li>-->
		</ul>
		
</div>



