<div id="registerHeader" class= "commonHeader">
	<div class="back" id  = "back">
		<i class = "iconfont ">&#xe60f;</i>
	</div>
	
	<div class="title">注册
	</div>
	<div class="moreInfo">
	&nbsp;
	
	</div>
	
</div>
<div id="registerContent">
		 <input type="text" name="userID" id="userID" placeholder="用户名" />
		 <input type="password" name="password" id="password" placeholder="密码" />
		 <input type="button" name="btn" id="btn" value="同一用户协议并且注册" />
</div>
<div id="registerFooter">
	
</div>


