@import "main.scss";

#userContent{
    .noLogin{
        
    }
    .successLogin{
        display:none;
    }
}
#loginContent{
    padding-top:30px;
    input{
            width:80%;
            margin-left:10%;
            height:36px;
            margin-top:10px;
            box-sizing: border-box;
            border:1px solid #007AFF;
            
    }   
}
#registerContent{
    padding-top:30px;
    input{
            width:80%;
            margin-left:10%;
            height:36px;
            margin-top:10px;
            box-sizing: border-box;
            border:1px solid #007AFF;           
    } 
    input[type = 'text'],input[type = 'password']{
        text-indent: 20px;
    }  
}