@import "reset.scss";

@mixin flexBox{  
    display:-webkit-box; 
    display:flex; 
}
@mixin flex($num:1){
     -webkit-box-flex: $num;
    flex: $num;
}

//@mixin flexBox{
//  display: -webkit-box;
////  display: -ms-flexbox;
//  display: flex;
//} 此处出现一个重大失误原因是  dislplay:flex; 


@mixin flex-direction($dir:row){
    
    @if $dir == row{
        -webkit-box-orient: horizontal;
        flex-direction:row;
    }@else {
         -webkit-box-orient: vertical;
         flex-direction:column;
    }
    
    
}

//水平垂直居中
@mixin flex-center{
    @include flexBox;
    @include flex-direction("column");
    
    -webkit-box-pack: center;
    justify-content: center;
    
    -webkit-box-align:center;
    align-items: center;
}


@font-face {
  font-family: 'iconfont';  /* project id 361556 */
  src: url('//at.alicdn.com/t/font_1bttxrif8xhl4n29.eot');
  src: url('//at.alicdn.com/t/font_1bttxrif8xhl4n29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1bttxrif8xhl4n29.woff') format('woff'),
  url('//at.alicdn.com/t/font_1bttxrif8xhl4n29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1bttxrif8xhl4n29.svg#iconfont') format('svg');
}
.iconfont{
    font-family: 'iconfont'; 
}





//http://datainfo.duapp.com/shopdata/datainfo.html



